{% extends 'layout_page.twig' %}

{% set page = 'commits' %}

{% block title %}GitList{% endblock %}

{% block content %}
    {% include 'breadcrumb.twig' with {breadcrumbs: [{dir: 'Blame', path:''}]} %}

    <div class="source-view">
        <div class="source-header">
            <div class="meta">{{ file }}</div>
        </div>
        <table class="blame-view">
        {% for blame in blames %}
            <tr>
                <td class="commit">
                    <table><td>
                        <img src="https://gravatar.com/avatar/{{ blame.commit.author.email | lower | md5 }}?s=40" />
                    </td><td><a href="{{ path('commit', {repo: repo, commit: blame.commit.hash}) }}">
                        {{ blame.commit.message }} ({{ blame.commitShort }})
                    </a></td></table>
                    <span><a href="mailto:{{ blame.commit.author.email }}">{{ blame.commit.author.name }}</a> authored <abbr title="{{ blame.commit.date | format_date }}">{{ blame.commit.date | format_date_relative }}</abbr></span>
                </td>
                <td><pre>{{ blame.line }}</pre></td>
            </tr>
        {% endfor %}
        </table>
    </div>

    <hr />
{% endblock %}
